.App{
  background-color: #F6EFE8;
  height: 100%;
  width: 100%;
  
}

/* .app__con{
  width:1330px;
  margin:auto;
} */
p{
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
h1{
  font-family: 'Rubik', sans-serif;
  /* font-weight: 300; */
}

/********************** drk **************************/
/********************** drk **************************/
/********************** drk **************************/
/********************** drk **************************/

.App__dark{
  background-color: #292929;
  height: 100%;
  width: 100%;
}